@import "tailwindcss";
:root {
  font-size: 16px;
 
}
body{
  background-color: #1F242A;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* darkorange : #B44A1A
Dark Background : #1F242A
primary text : #F2F2F2
secondary text : #B7B7B7 */
